<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.222325137575-crhq5kv0r5ouusv8n9o72ta92sllli3p</string>
			</array>
		</dict>
	</array>
	<key>NSFinancialDataUsageDescription</key>
	<string>Glance uses Plaid to securely connect to your bank accounts and retrieve transaction data. This data is used solely to display your spending summaries and insights within the app. Your credentials are never stored by Glance.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_18pt-Black.ttf</string>
		<string>Inter_18pt-BlackItalic.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-BoldItalic.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
		<string>Inter_18pt-ExtraBoldItalic.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
		<string>Inter_18pt-ExtraLightItalic.ttf</string>
		<string>Inter_18pt-Italic.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-LightItalic.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-MediumItalic.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-SemiBoldItalic.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
		<string>Inter_18pt-ThinItalic.ttf</string>
		<string>Inter_24pt-Black.ttf</string>
		<string>Inter_24pt-BlackItalic.ttf</string>
		<string>Inter_24pt-Bold.ttf</string>
		<string>Inter_24pt-BoldItalic.ttf</string>
		<string>Inter_24pt-ExtraBold.ttf</string>
		<string>Inter_24pt-ExtraBoldItalic.ttf</string>
		<string>Inter_24pt-ExtraLight.ttf</string>
		<string>Inter_24pt-ExtraLightItalic.ttf</string>
		<string>Inter_24pt-Italic.ttf</string>
		<string>Inter_24pt-Light.ttf</string>
		<string>Inter_24pt-LightItalic.ttf</string>
		<string>Inter_24pt-Medium.ttf</string>
		<string>Inter_24pt-MediumItalic.ttf</string>
		<string>Inter_24pt-Regular.ttf</string>
		<string>Inter_24pt-SemiBold.ttf</string>
		<string>Inter_24pt-SemiBoldItalic.ttf</string>
		<string>Inter_24pt-Thin.ttf</string>
		<string>Inter_24pt-ThinItalic.ttf</string>
		<string>Inter_28pt-Black.ttf</string>
		<string>Inter_28pt-BlackItalic.ttf</string>
		<string>Inter_28pt-Bold.ttf</string>
		<string>Inter_28pt-BoldItalic.ttf</string>
		<string>Inter_28pt-ExtraBold.ttf</string>
		<string>Inter_28pt-ExtraBoldItalic.ttf</string>
		<string>Inter_28pt-ExtraLight.ttf</string>
		<string>Inter_28pt-ExtraLightItalic.ttf</string>
		<string>Inter_28pt-Italic.ttf</string>
		<string>Inter_28pt-Light.ttf</string>
		<string>Inter_28pt-LightItalic.ttf</string>
		<string>Inter_28pt-Medium.ttf</string>
		<string>Inter_28pt-MediumItalic.ttf</string>
		<string>Inter_28pt-Regular.ttf</string>
		<string>Inter_28pt-SemiBold.ttf</string>
		<string>Inter_28pt-SemiBoldItalic.ttf</string>
		<string>Inter_28pt-Thin.ttf</string>
		<string>Inter_28pt-ThinItalic.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>Onest-Black.ttf</string>
		<string>Onest-Bold.ttf</string>
		<string>Onest-ExtraBold.ttf</string>
		<string>Onest-ExtraLight.ttf</string>
		<string>Onest-Light.ttf</string>
		<string>Onest-Medium.ttf</string>
		<string>Onest-Regular.ttf</string>
		<string>Onest-SemiBold.ttf</string>
		<string>Onest-Thin.ttf</string>
	</array>
</dict>
</plist>
